@import url(https://fonts.googleapis.com/css?family=Dosis&display=swap);
body{
    font-family: Dosis, serif;
    background: linear-gradient(0deg, #242582 0%, #2f2fa2 99%);
      background-attachment: fixed; 
}

p{
    color: #e4e4e4 ;
}

.custom-navbar{
   background-color: #553d67;

} 

.nav-link{
    color: #9DBDFF;
}

.navbar-nav .nav-link.active{
    color: rgb(199, 212, 222);
}

.navbar-brand img{
    width: 60px;
}

.navbar-toggler{
    background-color: #2816cb8a;
    border-color: #c756d871;
}

.card{
    background: linear-gradient(0deg, #242582 0%, #2f2fa2 99%);
    color:#e2dede;;
}




.contact{
    color: #e4e7c0;
    margin-top: 80px;
    list-style: none;
  
   

}
.contact span{
    margin-left: 25px;
    font-size: 18px ;
}

.contact li{
    margin-bottom: 100px;
}

 .telegram{
    display: flex;
    padding-left: 90px;
    padding-top: 140px;    
    
}

.btn-primary{
    background-color: #f64c62;
    color: #ffffff;
    border: none;
}

.slide-text,
.footer-text{
    font-size: large;
    color: #f64c62;
   margin :auto auto;
}

footer{
    background: linear-gradient(0deg, #242582 0%, #2f2fa2 99%);

}

.call-anim{
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

@media(max-width: 800px){
    .carousel-indicators{
        display: none;
    }
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}